# CONFIGURAÇÕES DE CONEXÃO - AQUAMONITOR API
# Preencha as informações abaixo com suas credenciais da FIAP

# String de conexão completa para o Oracle
ORACLE_CONNECTION_STRING="User Id=SEU_USUARIO;Password=SUA_SENHA;Data Source=oracle.fiap.com.br:1521/ORCL"

# Configurações de Ambiente (Development, Staging ou Production)
ASPNETCORE_ENVIRONMENT=Development

# Porta de execução externa
API_PORT=8080